<main>
    <header>
        <h1>XYZ - GALLERY</h1>
        <nav>
            <a [routerLink]="'/Home'">HOME</a>
        </nav>
    </header>

    <body>
        <br>
        <div class="myGallery">            
            <div class="item">
                <img src="https://picsum.photos/190/190?11" />
                <span class="caption">This is an image caption for image 11</span>
            </div>
            <div class="item">
                <img src="https://picsum.photos/190/190?12" />
                <span class="caption">This is an image caption for image 12</span>
            </div>
            <div class="item">
                <img src="https://picsum.photos/190/190?13" />
                <span class="caption">This is an image caption for image 13</span>
            </div>
            <div class="item">
                <img src="https://picsum.photos/190/190?14" />
                <span class="caption">This is an image caption for image 14</span>
            </div>
            <div class="item">
                <img src="https://picsum.photos/190/190?15" />
                <span class="caption">This is an image caption for image 15</span>
            </div>
            <img src="https://picsum.photos/190/190?1" />
            <img src="https://picsum.photos/190/190?2" />
            <img src="https://picsum.photos/190/190?3" />
            <img src="https://picsum.photos/190/190?4" />
            <img src="https://picsum.photos/190/190?5" />
            <img src="https://picsum.photos/190/190?6" />
            <img src="https://picsum.photos/190/190?7" />
        </div>
        <br>
    </body>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify">xyz.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative to help the
                        upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or
                        snippets as the code wants to be simple. We will help programmers build up concepts in different
                        programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android,
                        SQL and Algorithm.</p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Categories</h6>
                    <ul class="footer-links">
                        <li><a href="http://xyz.com/category/c-language/">C</a></li>
                        <li><a href="http://xyz.com/category/front-end-development/">UI Design</a></li>
                        <li><a href="http://xyz.com/category/back-end-development/">PHP</a></li>
                        <li><a href="http://xyz.com/category/java-programming-language/">Java</a></li>
                        <li><a href="http://xyz.com/category/android/">Android</a></li>
                        <li><a href="http://xyz.com/category/templates/">Templates</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="http://xyz.com/about/">About Us</a></li>
                        <li><a href="http://xyz.com/contact/">Contact Us</a></li>
                        <li><a href="http://xyz.com/contribute-at-scanfcode/">Contribute</a></li>
                        <li><a href="http://xyz.com/privacy-policy/">Privacy Policy</a></li>
                        <li><a href="http://xyz.com/sitemap/">Sitemap</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
                        <a href="#">XYZ</a>.
                    </p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</main>